@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* 
    Default theme colour (gray-900, https://tailwindcss.com/docs/colors)
    TODO: Find alternative way to implement this 
  */
  background-color: oklch(21% 0.034 264.665);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* Prevents overflows in other platforms (eg., content overflow in status bar in IOS) */
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
